RECORDINGS_DIR={{ aswitch_env_extra.RECORDINGS_DIR | default(aswitch_app_dir ~ '/recordings') }}
RECORDING_ARCHIVE_HOST={{ recording_archive_host }}
RECORDING_ARCHIVE_USER={{ recording_archive_user }}
RECORDING_ARCHIVE_DESTINATION={{ recording_archive_destination }}
RECORDING_ARCHIVE_IDENTITY={{ recording_archive_identity }}
RECORDING_ARCHIVE_KNOWN_HOSTS={{ recording_archive_known_hosts }}
RECORDING_ARCHIVE_RETENTION_DAYS={{ recording_archive_retention_days }}
